/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: rgba(86,223,192,0.7);*/
	background: rgba(73,245,196,1);
background: -moz-linear-gradient(top, rgba(73,245,196,1) 0%, rgba(63,39,138,0.44) 52%, rgba(61,3,128,0.36) 61%, rgba(0,0,0,0.06) 93%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,245,196,1)), color-stop(52%, rgba(63,39,138,0.44)), color-stop(61%, rgba(61,3,128,0.36)), color-stop(93%, rgba(0,0,0,0.06)), color-stop(100%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(73,245,196,1) 0%, rgba(63,39,138,0.44) 52%, rgba(61,3,128,0.36) 61%, rgba(0,0,0,0.06) 93%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(73,245,196,1) 0%, rgba(63,39,138,0.44) 52%, rgba(61,3,128,0.36) 61%, rgba(0,0,0,0.06) 93%, rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(73,245,196,1) 0%, rgba(63,39,138,0.44) 52%, rgba(61,3,128,0.36) 61%, rgba(0,0,0,0.06) 93%, rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(73,245,196,1) 0%, rgba(63,39,138,0.44) 52%, rgba(61,3,128,0.36) 61%, rgba(0,0,0,0.06) 93%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49f5c4', endColorstr='#000000', GradientType=0 );
	z-index: 900;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../assets/images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 90%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.3%;
}

.span_6_of_8 {
  	width: 74.6%;
}

.span_5_of_8 {
  	width: 61.9%;
}

.span_4_of_8 {
  	width: 49.2%;
}

.span_3_of_8 {
  	width: 36.5%;
}

.span_2_of_8 {
  	width: 23.8%;
}

.span_1_of_8 {
  	width: 11.1%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}

#theBox_2{
    /*margin: 0 auto;
    padding: 0;
    display: none; */
    width: 105%;
    
   
}

a {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

i:hover, a:hover {
  color: #6645a5;
}

/*.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #111;
}*/

/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

/*@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}*/
}