
/* Ignore => Base Styles */
body { background: #e3e3e3; -webkit-font-smoothing: antialiased; }
.ScrollSceneIndicators { z-index: 9999999 !important; }

/* Ignore => Useless Header Styles */
header {
  text-align: center;
  /*purple intro page*/
  background: rgba(30,19,52,1);
background: -moz-linear-gradient(top, rgba(30,19,52,1) 0%, rgba(59,35,108,1) 52%, rgba(59,35,107,1) 53%, rgba(36,27,65,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,19,52,1)), color-stop(52%, rgba(59,35,108,1)), color-stop(53%, rgba(59,35,107,1)), color-stop(100%, rgba(36,27,65,1)));
background: -webkit-linear-gradient(top, rgba(30,19,52,1) 0%, rgba(59,35,108,1) 52%, rgba(59,35,107,1) 53%, rgba(36,27,65,1) 100%);
background: -o-linear-gradient(top, rgba(30,19,52,1) 0%, rgba(59,35,108,1) 52%, rgba(59,35,107,1) 53%, rgba(36,27,65,1) 100%);
background: -ms-linear-gradient(top, rgba(30,19,52,1) 0%, rgba(59,35,108,1) 52%, rgba(59,35,107,1) 53%, rgba(36,27,65,1) 100%);
background: linear-gradient(to bottom, rgba(30,19,52,1) 0%, rgba(59,35,108,1) 52%, rgba(59,35,107,1) 53%, rgba(36,27,65,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1334', endColorstr='#241b41', GradientType=0 );


  background-size: 100%;
 /* padding: 50px 0 225px;*/
  color: #fff;
  position: relative;
  /*left: 0;*/
  /*position: fixed;*/
  
 /* width: 100%;*/
  height: 100vh;
  max-height: 100vh;
}

header * { text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.35); }
header h1 { margin-top: 150px; font-size: 50px;  }
header h1 i.fa-sun-o { color: #111; }
header h1 i.fa-map-marker { color: #111; }
header h1 i.fa-gamepad { color: #111; }
header h1 i.fa-paint-brush { color: #111; }
header h1 i.fa-smile { color: #111; }

header hr { max-width: 90px; border-top: solid 2px #fff; }
header h2 {  margin-bottom: 20px; }
header p { padding: -100px; }
header i.fa-angle-double-down {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #111;
}
header i.fa-angle-double-down:after {
  content: 'Scroll down, and enjoy!';
  position: absolute;
  bottom: 100%;
  left: -35px;
  font-size: 15px;
  width: 104px;
}

main h2 a {

  color: #fff;
  position: relative;
  bottom: 60px;


}

main h2 a:hover {

  color: #fff;
  position: relative;
  
 
}


/* Create huge scrolling area (imitates height of a page) */
main { padding: 200px 0 100px 0; overflow: hidden; }


/* Styles for wrap for demo */
.wrap {
  text-align: center;
  background: rgb(0, 0, 0, 0.7);
  padding: 50px 0;
  -moz-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
  -webkit-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
  box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}

/* Default Animation Styles */
.animation {
  /*background: #fff;*/
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 50px auto;
  /*position: relative;*/
}
#animation-1 {
  background: rgb(226,168,229);
  z-index: -100;
  position: relative;

}
#animation-2 {
  background: rgb(49,57,176);
  z-index: -100;
  position: relative;
  
}

#animation-3 {
  background: rgb(246,62,52);
  z-index: -100;
  position: relative;
  
}

#animation-4 {
  background: rgb(249,163,172);
  z-index: -100;
  position: relative;
  
}


.animation i {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



/* SCENE COLORS */
/*body {
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  transition: all 1500ms ease;
}*/
body.scene-1-active { background: url('../assets/images/animation1.jpg') no-repeat center center fixed;
background-size: cover;

/*background-position: fill;*/

/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*
height: 100vh;
*/}
body.scene-2-active { background: rgba(0,76,148,1);
background: -moz-linear-gradient(top, rgba(0,76,148,1) 0%, rgba(0,76,148,1) 36%, rgba(0,235,219,1) 82%, rgba(138,255,224,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,76,148,1)), color-stop(36%, rgba(0,76,148,1)), color-stop(82%, rgba(0,235,219,1)), color-stop(100%, rgba(138,255,224,1)));
background: -webkit-linear-gradient(top, rgba(0,76,148,1) 0%, rgba(0,76,148,1) 36%, rgba(0,235,219,1) 82%, rgba(138,255,224,1) 100%);
background: -o-linear-gradient(top, rgba(0,76,148,1) 0%, rgba(0,76,148,1) 36%, rgba(0,235,219,1) 82%, rgba(138,255,224,1) 100%);
background: -ms-linear-gradient(top, rgba(0,76,148,1) 0%, rgba(0,76,148,1) 36%, rgba(0,235,219,1) 82%, rgba(138,255,224,1) 100%);
background: linear-gradient(to bottom, rgba(0,76,148,1) 0%, rgba(0,76,148,1) 36%, rgba(0,235,219,1) 82%, rgba(138,255,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c94', endColorstr='#8affe0', GradientType=0 ); !important; }
body.scene-3-active { background: rgba(255,243,138,1);
background: -moz-linear-gradient(top, rgba(255,243,138,1) 0%, rgba(255,243,138,1) 29%, rgba(247,124,80,1) 69%, rgba(244,31,42,1) 93%, rgba(244,31,42,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,243,138,1)), color-stop(29%, rgba(255,243,138,1)), color-stop(69%, rgba(247,124,80,1)), color-stop(93%, rgba(244,31,42,1)), color-stop(100%, rgba(244,31,42,1)));
background: -webkit-linear-gradient(top, rgba(255,243,138,1) 0%, rgba(255,243,138,1) 29%, rgba(247,124,80,1) 69%, rgba(244,31,42,1) 93%, rgba(244,31,42,1) 100%);
background: -o-linear-gradient(top, rgba(255,243,138,1) 0%, rgba(255,243,138,1) 29%, rgba(247,124,80,1) 69%, rgba(244,31,42,1) 93%, rgba(244,31,42,1) 100%);
background: -ms-linear-gradient(top, rgba(255,243,138,1) 0%, rgba(255,243,138,1) 29%, rgba(247,124,80,1) 69%, rgba(244,31,42,1) 93%, rgba(244,31,42,1) 100%);
background: linear-gradient(to bottom, rgba(255,243,138,1) 0%, rgba(255,243,138,1) 29%, rgba(247,124,80,1) 69%, rgba(244,31,42,1) 93%, rgba(244,31,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff38a', endColorstr='#f41f2a', GradientType=0 ); !important; }
body.scene-4-active { background: url('../assets/images/animation4.jpg') no-repeat center center fixed;
background-size: cover;}



